.sleep {
    background-color: #7e9a9a;;
    margin-top: 0.5in;
}

.sleep-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #7e9a9a;
}

.sleep-card {
    background-color: #4e81eb;
    text-align: center;
    width: 4in;
    height: 3in;
    margin: 1cm;
}

.add-sleep {
   position: absolute;
   left: 13in
}