.sleep {
    background-color: gold;
    margin-top: 0.5in;
}

.sleep-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.sleep-card {
    background-color: red;
    text-align: center;
    width: 4in;
    height: 3in;
    margin: 1cm;
}

.sleep-details {
    width: fit-content;
    background-color: blue;
    zoom: 50%;
}

.add-sleep {
   position: absolute;
   left: 13in
}