.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
}

#lt-img {
    align-self: center;
}

#main-title {
    align-self: center;
    position: absolute;
    margin-top: 240px;
    font-size: 50px;
}


#description {
    position: absolute;
    margin-top: 320px;
    align-self: center;
}