#img {
    position: absolute;
    left: 5.6in;
    top: 1.5in;
}

#title {
    position: absolute;
    left: 6in;
    top: 3in;
    font-size: 70px;
}

#description {
    position: absolute;
    left: 5.65in;
    top: 4.5in;
    font-size: 20px;
}