.exercise {
    background-color: #7e9a9a;
    margin-top: 0.5in;
}

.exercise-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #7e9a9a;
}

.exercise-card {
    background-color: red;
    text-align: center;
    width: 4in;
    height: 3in;
    margin: 1cm;
}

.exercise-details {
    width: fit-content;
    background-color: blue;
    zoom: 50%;
}

.add-exercise {
   position: absolute;
   left: 13in
}