.nutrition {
    background-color: #7e9a9a;
    margin-top: 0.5in;
}

.nutrition-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #7e9a9a;
}

.nutrition-card {
    background-color: #03c5d1;
    text-align: center;
    width: 4in;
    height: 3in;
    margin: 1cm;
}

.add-nutrition {
   position: absolute;
   left: 13in
}