.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-titles {
    align-self: center;
    display: flex;
    flex-direction: row;
}

.footer-title {
    padding: 50px;
}