#logo {
    width: 5%;
    height: auto;
    margin-left: 19in;
    zoom: 10%;
    width: 4%;
    height: auto;

}

.links {
    width: 50%;
}

.links .auth {
    margin-left: auto; 
    margin-right: 0;
}

.css-hyum1k-MuiToolbar-root{
    background-color: #7e9a9a;
}